@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(49, 112, 47);
  text-align: center;
  color: rgb(0, 0, 0);
}

#myCanvas {
  background-image: url("https://img.freepik.com/premium-photo/park-cartoon-image-background-copy-space_1169880-286389.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(76, 161, 97);;
}

h1 {
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
}



